<div class="panel panel-default">
  <div class="panel-heading">Admin</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt><%= t("activerecord.attributes.short_film_user.paid_at") %></dt>
        <dd><%= short_film_user.paid_at ? short_film_user.paid_at.to_s(:datedb) : "No paid yet" %></dd>
      <dt><%= t("activerecord.attributes.short_film_user.received_at") %></dt>
        <dd><%= short_film_user.received_at ? short_film_user.received_at.to_s(:datedb) : "No received yet" %></dd>
      <dt><%= t("activerecord.attributes.short_film_user.moderation_accepted") %></dt>
        <dd><%= render_label (short_film_user.moderation_accepted? ? "Accepted" : "Pending"), :status %></dd>
    </dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Video</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <%= short_film_user.script_embed.html_safe if short_film_user.script_embed %>
    </dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Thumbnail</div>
  <div class="panel-body">
    <%= image_tag short_film_user.thumbnail(:admin) %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Info</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Id</dt><dd><%= short_film_user.id %></dd>
      <dt>Title</dt><dd><%= short_film_user.title %></dd>
      <dt>Duration</dt><dd><%= short_film_user.length_minutes %>:<%= short_film_user.length_seconds %></dd>
      <dt>Language</dt><dd><%= short_film_user.language %></dd>
      <dt>Subtitles</dt><dd><%= short_film_user.subtitles_language %></dd>
      <dt>Genre</dt><dd><%= short_film_user.genre %></dd>
    </dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Synopsis</div>
  <div class="panel-body">
    <%= short_film_user.synopsis.to_md %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Credits</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Direction</dt><dd><%= short_film_user.credits_direction %></dd>
      <dt>Script</dt><dd><%= short_film_user.credits_script %></dd>
      <dt>Camera</dt><dd><%= short_film_user.credits_camera %></dd>
      <dt>Art Direction</dt><dd><%= short_film_user.credits_art_direction %></dd>
      <dt>Editing</dt><dd><%= short_film_user.credits_editing %></dd>
      <dt>Music</dt><dd><%= short_film_user.credits_music %></dd>
      <dt>Other</dt><dd><%= short_film_user.credits_other %></dd>
      <dt>Actors</dt><dd><%= short_film_user.credits_actors %></dd>
    </dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Producer</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Name</dt><dd><%= short_film_user.director_name %></dd>
      <dt>DNI</dt><dd><%= short_film_user.director_dni %></dd>
      <dt>Date of Birth</dt><dd><%= short_film_user.director_date_of_birth.to_s(:datehuman) %></dd>
      <dt>Phone</dt><dd><%= short_film_user.director_phone %></dd>
      <dt>Email</dt><dd><%= short_film_user.director_email %></dd>
    </dl>
  </div>
</div>


<p>
  <%= link_to "Edit", edit_admin_short_film_user_path(short_film_user) %> |
  <%= link_to "Destroy", [:admin, short_film_user], :confirm => "Are you sure?", :method => :delete %>
</p>