<% title t("views.pages.about.title") %>

<section id="middle_content">
  <div class="entry">
    <div class="cmsms_cc">
      <div class="one_half first_column">
        <p style="text-align: center;">
          <img src="/assets/vendor/riviera/images/img/about_1.jpg" alt="" class="max_width" />
        </p>
      </div>
      <div class="one_half">
        <h3><%= t("views.pages.about.sections.the_festival.title") %></h3>
        <%= t("views.pages.about.sections.the_festival.text").to_md %>
      </div>
      <div class="one_first first_column">
        <div class="divider"></div>
      </div>

      <div class="one_first first_column">
        <h3><%= t("views.pages.about.sections.objectives.title") %></h3>
      </div>

      <div class="one_first first_column">
        <%= t("views.pages.about.sections.objectives.text").to_md %>
      </div>

      <div class="one_first first_column">
        <h3><%= t("views.pages.about.sections.rules.title") %></h3>
      </div>

      <div class="one_first first_column">
        <%= t("views.pages.about.sections.rules.text").to_md %>

        <%= link_to "Envía tu corto", [:new, :short_film, :short_film_user], :class => "button_medium" %>
      </div>

      <div class="one_first first_column">
        <h2>Responsables y coordinadores</h2>
      </div>


      <div class="one_half first_column">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/vendor/riviera/images/img/about_2.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title">Alícia Gómez</h4>
              <p class="person_subtitle">Coordinadora</p>
            </header>
            <p>We have created a visual drag&rsquo;n&rsquo;drop content editor to make website management be easy as a game -simply pull your content parts back and forth through the page, easily resize and edit.</p>
            <footer class="entry-meta person_footer">
              <a href="#" title="Twitter" target="_blank">Twitter</a>,
              <a href="#" title="Facebook" target="_blank">Facebook</a>
            </footer>
          </div>
        </article>
      </div>
      <div class="one_half">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/vendor/riviera/images/img/about_3.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title">Anne Massadier</h4>
              <p class="person_subtitle">Responsable producción</p>
            </header>
            <p>Riviera is a Theme for Wordpress that offers a lot of benefits for those who seek to create a website that will reflect individual style, feature the most up-to-date design and functionality.</p>
            <footer class="entry-meta person_footer">
              <a href="#" title="Twitter" target="_blank">Twitter</a>,
              <a href="#" title="Facebook" target="_blank">Facebook</a>
            </footer>
          </div>
        </article>
      </div>
      <div class="one_half first_column">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/vendor/riviera/images/img/about_4.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title">Susana Munuera</h4>
              <p class="person_subtitle">Surpervisora</p>
            </header>
            <p>Riviera was created by professionals that have done a great job of extending a standard Wordpress CMS by many custom features to turn it into a great website management tool.</p>
            <footer class="entry-meta person_footer">
              <a href="#" title="Twitter" target="_blank">Twitter</a>,
              <a href="#" title="Facebook" target="_blank">Facebook</a>
            </footer>
          </div>
        </article>
      </div>
      <div class="one_half">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/vendor/riviera/images/img/about_5.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title">Mikel Ibarrola</h4>
              <p class="person_subtitle">Ayudante comunicación</p>
            </header>
            <p>Wordpress has never been so convenient in use and functional. Wrapped in a premium design, cmsmasters&rsquo; custom admin panel is a fantastic solution for your website.</p>
            <footer class="entry-meta person_footer">
              <a href="#" title="Twitter" target="_blank">Twitter</a>,
              <a href="#" title="Facebook" target="_blank">Facebook</a>
            </footer>
          </div>
        </article>
      </div>
      <div class="one_half first_column">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/vendor/riviera/images/img/about_4.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title">Tomàs Vallés</h4>
              <p class="person_subtitle">Coordinador</p>
            </header>
            <p>Riviera was created by professionals that have done a great job of extending a standard Wordpress CMS by many custom features to turn it into a great website management tool.</p>
            <footer class="entry-meta person_footer">
              <a href="#" title="Twitter" target="_blank">Twitter</a>,
              <a href="#" title="Facebook" target="_blank">Facebook</a>
            </footer>
          </div>
        </article>
      </div>
      <div class="one_half">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/vendor/riviera/images/img/about_5.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title">Fernando</h4>
              <p class="person_subtitle">Ayudante comunicación</p>
            </header>
            <p>Wordpress has never been so convenient in use and functional. Wrapped in a premium design, cmsmasters&rsquo; custom admin panel is a fantastic solution for your website.</p>
            <footer class="entry-meta person_footer">
              <a href="#" title="Twitter" target="_blank">Twitter</a>,
              <a href="#" title="Facebook" target="_blank">Facebook</a>
            </footer>
          </div>
        </article>
      </div>
      <div class="one_half first_column">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/vendor/riviera/images/img/about_4.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title">Marina González</h4>
              <p class="person_subtitle">Coordinadora</p>
            </header>
            <p>Riviera was created by professionals that have done a great job of extending a standard Wordpress CMS by many custom features to turn it into a great website management tool.</p>
            <footer class="entry-meta person_footer">
              <a href="#" title="Twitter" target="_blank">Twitter</a>,
              <a href="#" title="Facebook" target="_blank">Facebook</a>
            </footer>
          </div>
        </article>
      </div>

      <div class="cl"></div>


    </div>
  </div>
</section>
