<% title t("views.pages.about.title") %>

<section id="middle_content">
  <div class="entry">
    <div class="cmsms_cc">
      <div class="one_half first_column">
        <p style="text-align: center;">
          <img src="/assets/vendor/riviera/images/img/about_1.jpg" alt="" class="max_width" />
        </p>
      </div>
      <div class="one_half">
        <h3><%= t("views.pages.about.sections.the_festival.title") %></h3>
        <%= t("views.pages.about.sections.the_festival.text").to_md %>
      </div>
      <div class="one_first first_column">
        <div class="divider"></div>
      </div>

      <div class="one_first first_column">
        <h3><%= t("views.pages.about.sections.objectives.title") %></h3>
      </div>

      <div class="one_first first_column">
        <%= t("views.pages.about.sections.objectives.text").to_md %>
      </div>

      <div class="one_first first_column">
        <h3><%= t("views.pages.about.sections.rules.title") %></h3>
      </div>

      <div class="one_first first_column">
        <%= t("views.pages.about.sections.rules.text").to_md %>

        <%= link_to t("views.pages.about.sections.rules.send_short_film_link"), [:new, :short_film, :short_film_user], :class => "button_medium" %>
      </div>

      <div class="one_first first_column">
        <h3><%= t("views.pages.about.sections.people.title") %></h3>
      </div>


      <div class="one_half first_column">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/app/front/img/people/<%= t("views.pages.about.sections.people.susana.name") %>.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title"><%= t("views.pages.about.sections.people.susana.name") %></h4>
              <p class="person_subtitle"><%= t("views.pages.about.sections.people.susana.subtitle") %></p>
            </header>
            <p><%= t("views.pages.about.sections.people.susana.text") %></p>
          </div>
        </article>
      </div>

      <div class="one_half">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/app/front/img/people/<%= t("views.pages.about.sections.people.marina.name") %>.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title"><%= t("views.pages.about.sections.people.marina.name") %></h4>
              <p class="person_subtitle"><%= t("views.pages.about.sections.people.marina.subtitle") %></p>
            </header>
            <p><%= t("views.pages.about.sections.people.marina.text") %></p>
          </div>
        </article>
      </div>

      <div class="one_half first_column">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/app/front/img/people/<%= t("views.pages.about.sections.people.anne.name") %>.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title"><%= t("views.pages.about.sections.people.anne.name") %></h4>
              <p class="person_subtitle"><%= t("views.pages.about.sections.people.anne.subtitle") %></p>
            </header>
            <p><%= t("views.pages.about.sections.people.anne.text") %></p>
          </div>
        </article>
      </div>

      <div class="one_half">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/app/front/img/people/<%= t("views.pages.about.sections.people.alicia.name") %>.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title"><%= t("views.pages.about.sections.people.alicia.name") %></h4>
              <p class="person_subtitle"><%= t("views.pages.about.sections.people.alicia.subtitle") %></p>
            </header>
            <p><%= t("views.pages.about.sections.people.alicia.text") %></p>
          </div>
        </article>
      </div>

      <div class="one_half first_column">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/app/front/img/people/<%= t("views.pages.about.sections.people.mikel.name") %>.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title"><%= t("views.pages.about.sections.people.mikel.name") %></h4>
              <p class="person_subtitle"><%= t("views.pages.about.sections.people.mikel.subtitle") %></p>
            </header>
            <p><%= t("views.pages.about.sections.people.mikel.text") %></p>
          </div>
        </article>
      </div>


      <div class="cl"></div>


    </div>
  </div>
</section>
