<%= javascript_include_tag "/assets/app/front/js/home.js" %>

<section id="middle_content">
  <div class="entry">
    <div class="cmsms_cc">
      <div class="two_third first_column">
        <div class="resize">
          <div class="cmsms_blog_media">
            <div class="resizable_block">
              <% video_url = APP_CONFIG[:home_videos][rand(3)] %>
              <iframe width="100%" height="100%" src="<%= video_url %>" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="one_third">
        <div class="responsive_content_block">
          <h1 class="with_line"><%= t("views.pages.home.sections.top.title") %></h1>
          <%= t("views.pages.home.sections.top.text") %>
        </div>
      </div>
      <div class="cl"></div>
      <br />
      <br />
      <div class="one_first first_column">
        <section id="portfolio_shortcode_1" class="post_type_shortcode">
          <div class="post_type_shortcode_inner">
            <h2>Últimos cortos recibidos</h2>
            <ul class="post_type_list portfolio_container responsiveContentSlider">
              <% ShortFilmUser.validated.each_slice(4) do |short_film_users_slice| %>
                <li>
                  <% short_film_users_slice.each do |short_film_user| %>
                    <article class="project format-album hentry one_fourth">
                      <div class="project_inner">
                        <div class="media_box">
                          <figure>
                            <%= link_to [:front, short_film_user], :class => "preloader" do %>
                              <%= image_tag short_film_user.thumbnail(:front), :class => "fullwidth" %>
                            <% end %>
                          </figure>
                        </div>
                        <header class="entry-header">
                          <h5 class="entry-title">
                            <%= link_to short_film_user.title, [:front, short_film_user] %>
                          </h5>
                        </header>
                        <footer class="entry-meta">
                          por <span class="cmsms_category"><%= link_to short_film_user.director_name, [:front, short_film_user] %></span>
                        </footer>
                      </div>
                    </article>
                  <% end %>
                </li>
              <% end %>
            <ul>
          </div>
        </section>
      </div>

      <aside class="project_navi">
        <span class="fr">
          <%= link_to "Todos los cortos", :front_short_film_users %>
        </span>
      </aside>

      <div class="cl"></div>
      <br />
      <div class="one_first first_column">
        <h2><%= t("views.pages.home.sections.your_festival.title") %></h2>
        <br />
        <div class="cl"></div>
        <img width="300" height="191" src="/assets/vendor/riviera/images/img/home-1.jpg" class="with_border alignleft max_width" />
        <div class="ovh">
          <%= t("views.pages.home.sections.your_festival.text").to_md %>
          <%= link_to t("views.pages.home.sections.your_festival.send_film_button"), [:new, :short_film, :short_film_user], :class => "button_medium" %>
        </div>
      </div>

      <div class="cl"></div>

      <div class="one_first first_column">
        <h2>Patrocinadores</h2>
        <div class="cmsms_clients_slider" id="cmsms_clients_slider55">
          <a href="javascript:void(0);" class="cmsms_clients_slider_arrow_prev"></a>
          <a href="javascript:void(0);" class="cmsms_clients_slider_arrow_next"></a>
          <ul class="cmsms_clients_items">
            <li class="cmsms_clients_item">
              <a href="http://clockstone.cmsmasters.net/" target="_blank">
                <img width="165" height="106" src="/assets/vendor/riviera/images/img/client_1.png" class="cmsms_clients_img" />
              </a>
            </li>
            <li class="cmsms_clients_item">
              <a href="http://cleverminds.cmsmasters.net/" target="_blank">
                <img width="165" height="106" src="/assets/vendor/riviera/images/img/client_2.png" class="cmsms_clients_img" />
              </a>
            </li>
            <li class="cmsms_clients_item">
              <a href="http://shepard.cmsmasters.net/" target="_blank">
                <img width="165" height="106" src="/assets/vendor/riviera/images/img/client_3.png" class="cmsms_clients_img" />
              </a>
            </li>
            <li class="cmsms_clients_item">
              <a href="http://magique.cmsmasters.net/" target="_blank">
                <img width="165" height="106" src="/assets/vendor/riviera/images/img/client_4.png" class="cmsms_clients_img" />
              </a>
            </li>
            <li class="cmsms_clients_item">
              <a href="http://increase.cmsmasters.net/" target="_blank">
                <img width="165" height="106" src="/assets/vendor/riviera/images/img/client_5.png" class="cmsms_clients_img" />
              </a>
            </li>
            <li class="cmsms_clients_item">
              <a href="http://whiteblack.cmsmasters.net/" target="_blank">
                <img width="165" height="106" src="/assets/vendor/riviera/images/img/client_6.png" class="cmsms_clients_img" />
              </a>
            </li>
            <li class="cmsms_clients_item">
              <a href="http://bigfish-html.cmsmasters.net/" target="_blank">
                <img width="165" height="106" src="/assets/vendor/riviera/images/img/client_7.png" class="cmsms_clients_img" />
              </a>
            </li>
            <li class="cmsms_clients_item">
              <a href="http://newgate.cmsmasters.net/" target="_blank">
                <img width="165" height="106" src="/assets/vendor/riviera/images/img/client_8.png" class="cmsms_clients_img" />
              </a>
            </li>
            <li class="cmsms_clients_item">
              <a href="http://halsey.cmsmasters.net/" target="_blank">
                <img width="165" height="106" src="/assets/vendor/riviera/images/img/client_9.png" class="cmsms_clients_img" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
