<%= javascript_include_tag "/assets/app/front/js/short_film_user_form.js" %>

<section id="content">
  <div class="entry">
    <div class="cmsms-form-builder">
      <%= form_for [:short_film, @short_film_user], :html => { :class => "form-horizontal", :id => "short_film_user_form" } do |f| %>
        <%= render "/shared/form_errors", :object => f.object %>

        <p><%= t("views.short_films.new.required_fields") %> <span class="color_3">*</span></p>

        <%= render :partial => "short_film/short_film_users/section_info", :locals => { :f => f } %>
        <%= render :partial => "short_film/short_film_users/section_script_embed", :locals => { :f => f } %>
        <%= render :partial => "short_film/short_film_users/section_thumbnail", :locals => { :f => f } %>
        <%= render :partial => "short_film/short_film_users/section_credits", :locals => { :f => f } %>
        <%= render :partial => "short_film/short_film_users/section_producer", :locals => { :f => f } %>
        <%= render :partial => "short_film/short_film_users/section_tutor", :locals => { :f => f } %>
        <%= render :partial => "short_film/short_film_users/section_school", :locals => { :f => f } %>
        <%= render :partial => "short_film/short_film_users/section_accept", :locals => { :f => f } %>


        <div class="cl"></div>
        <div>
          <%= f.submit t("views.short_films.new.send_button"), :class => "button" %>
        </div>
      <% end %>
    </div>
  </div>
</section>


<!--         <div class="form_info cmsms_input">
          <label for="contact_email">Email <span class="color_3">*</span></label>
          <input type="text" name="contact_email" id="contact_email" value="" size="22" tabindex="4" class="validate[required,custom[email]]" />
        </div>
        <div class="cl"></div>
        <div class="form_info cmsms_input">
          <label for="contact_url">Website</label>
          <input type="text" name="contact_url" id="contact_url" value="" size="22" tabindex="5" class="validate[custom[url]]" />
        </div>
        <div class="cl"></div>
        <div class="form_info cmsms_input">
          <label for="contact_subject">Subject <span class="color_3">*</span></label>
          <input type="text" name="contact_subject" id="contact_subject" value="" size="22" tabindex="6" class="validate[required,minSize[3],maxSize[100]]" />
        </div>
        <div class="cl"></div>
        <div class="form_info cmsms_textarea">
          <label for="contact_message">Message <span class="color_3">*</span></label>
          <textarea name="contact_message" id="contact_message" cols="28" rows="6" tabindex="7" class="validate[required,minSize[3]]" ></textarea>
        </div>
        <div class="cl"></div> -->
        <!--
        <div class="form_info cmsms_checkboxes">
          <div class="check_parent">
            <input type="checkbox" name="check_1" id="check_1" value="I Agree!">
            <label for="check_1">I Agree!</label>
          </div>
          <div class="check_parent">
            <input type="checkbox" name="check_2" id="check_2" value="Yes">
            <label for="check_2">Yes</label>
          </div>
          <div class="check_parent">
            <input type="checkbox" name="check_3" id="check_3" value="No">
            <label for="check_3">No</label>
          </div>
        </div>
        <div class="form_info cmsms_radio">
          <div class="check_parent">
            <input type="radio" name="radio" id="radio_1" value="Just cool!">
            <label for="radio_1">Just cool!</label>
          </div>
          <div class="check_parent">
            <input type="radio" name="radio" id="radio_2" value="Supercool!">
            <label for="radio_2">Supercool!</label>
          </div>
          <div class="check_parent">
            <input type="radio" name="radio" id="radio_3" value="Are you kidding? This is awesome!">
            <label for="radio_3">Are you kidding? This is awesome!</label>
          </div>
        </div>
        <div class="form_info cmsms_select">
          <select>
            <option>Just cool!</option>
            <option>Supercool!</option>
            <option>Are you kidding? This is awesome!</option>
          </select>
          <span class="db">Description goes here</span>
        </div>
        -->