<h2><%= t("views.short_films.new.title_producer") %></h2>
<p><%= t("views.short_films.new.producer_help_text") %></p>

<div class="form_info cmsms_input">
<%= f.label :producer_name do %><%= t("activerecord.attributes.short_film_user.producer_name") %> <span class="color_3">*</span><% end %>
  <%= f.text_field :producer_name, :class => "validate[required]" %>
</div>

<div class="form_info cmsms_input">
  <%= f.label :producer_email do %><%= t("activerecord.attributes.short_film_user.producer_email") %> <span class="color_3">*</span><% end %>
  <%= f.text_field :producer_email, :class => "validate[required,custom[email]]", :size => "22" %>
</div>

<div class="form_info cmsms_input">
  <%= f.label :password do %><%= t("activerecord.attributes.short_film_user.password") %> <span class="color_3">*</span><% end %>
  <%= f.password_field :password, :class => "validate[required]" %>
</div>

<div class="form_info cmsms_input">
<%= f.label :password_confirmation do %><%= t("activerecord.attributes.short_film_user.password_confirmation") %> <span class="color_3">*</span><% end %>
  <%= f.password_field :password_confirmation, :class => "validate[required]" %>
</div>

<div class="form_info cmsms_input">
  <%= f.label :producer_dni do %><%= t("activerecord.attributes.short_film_user.producer_dni") %> <span class="color_3">*</span><% end %>
  <%= f.text_field :producer_dni, :class => "validate[required]" %>
</div>

<div class="form_info cmsms_select">
  <%= f.label :producer_date_of_birth do %><%= t("activerecord.attributes.short_film_user.producer_date_of_birth") %> <span class="color_3">*</span><% end %>
  <br />
  <%= f.date_select(:producer_date_of_birth, :prompt => true, :start_year => 1970) %>
</div>

<div class="form_info cmsms_input">
  <%= f.label :producer_phone do %><%= t("activerecord.attributes.short_film_user.producer_phone") %> <span class="color_3">*</span><% end %>
  <%= f.text_field :producer_phone, :class => "validate[required]" %>
</div>

