<% title t("views.short_films.reset_password.title") %>

<section id="content">
  <div class="entry">
    <div class="cmsms-form-builder">

      <%= form_for [:short_film, @short_film_user], :url => short_film_reset_password_submit_path, :html => { :class => "form-horizontal", :method => :put } do |f| %>
        <%= render "/shared/form_errors", :object => f.object %>

        <p><%= t("views.short_films.new.required_fields") %> <span class="color_3">*</span></p>

        <h2><%= t("views.short_films.reset_password.title") %></h2>

        <legend><%= t("views.short_films.reset_password.text") %></legend>

        <div class="form_info cmsms_input">
          <%= f.label :password do %><%= t("activerecord.attributes.short_film_user.password") %> <span class="color_3">*</span><% end %>
          <%= f.password_field :password, :class => "validate[required]", :size => "22", :type => "password" %>
        </div>

        <div class="form_info cmsms_input">
          <%= f.label :password_confirmation do %><%= t("activerecord.attributes.short_film_user.password_confirmation") %> <span class="color_3">*</span><% end %>
          <%= f.password_field :password_confirmation, :class => "validate[required]", :size => "22", :type => "password" %>
        </div>

        <div class="cl"></div>
        <div>
          <%= f.submit t("views.short_films.reset_password.button_send"), :class => "button" %>
        </div>

      <% end %>
    </div>
  </div>
</section>