<footer id="footer">
  <div class="footer_inner">
    <span class="copyright">KontraBando Film Festival &copy; 2014</span>
    <ul class="footer_nav">
      <li><%= link_to t("views.menu.home"), front_page_path("home") %></li>
      <li><%= link_to t("views.menu.festival"), front_page_path("about") %></li>
      <li><%= link_to t("views.menu.short_films"), [:front, :short_film_users] %></li>
      <li><%= link_to t("views.menu.send_your_short_film"), [:new, :short_film, :short_film_user] %></li>
      <li><%= link_to t("views.menu.contributors"), front_page_path("contributors") %></li>
      <li><%= link_to t("views.menu.login"), short_film_login_path %></li>
      <li><%= link_to t("views.menu.contact"), "mailto:info@kontrabandofilmfestival.org" %></li>
    </ul>
  </div>
</footer>