<article class="project format-video hentry">
  <div class="project_content">
    <div class="resize">
      <div class="cmsms_blog_media">
        <div class="resizable_block">
          <% if short_film_user.script_embed %>
            <%= short_film_user.script_embed.html_safe %>
          <% else %>
            <%= image_tag short_film_user.thumbnail(:front_big), :class => "fullwidth" %>
          <% end %>
        </div>
      </div>
    </div>
    <h1 class="entry-title"><%= t("dictionary.synopsis") %></h1>
    <div class="entry-content">
      <%= short_film_user.synopsis.to_md %>
    </div>
  </div>
  <div class="project_sidebar">
    <footer class="entry-meta">
      <ul class="cmsms_details">
<!--         <li>
          <p class="cmsms_details_title cmsms_like_title">Like it?</p>
          <div class="cmsms_details_links">
            <a class="cmsmsLike" href="#"><span><span>32</span></span></a>
          </div>
        </li> -->
        <li>
          <p class="cmsms_details_title"><%= t("activerecord.attributes.short_film_user.created_at") %>:</p>
          <div class="cmsms_details_links">
            <%= short_film_user.created_at.to_s(:datehuman) %>
          </div>
        </li>
        <li>
          <p class="cmsms_details_title"><%= t("activerecord.attributes.short_film_user.genre") %>:</p>
          <div class="cmsms_details_links">
            <%= short_film_user.genre %>
          </div>
        </li>
        <li>
          <p class="cmsms_details_title"><%= t("activerecord.attributes.short_film_user.length") %>:</p>
          <div class="cmsms_details_links">
            <%= short_film_user.length %>
          </div>
        </li>
        <li>
          <p class="cmsms_details_title"><%= t("activerecord.attributes.short_film_user.language") %>:</p>
          <div class="cmsms_details_links">
            <%= short_film_user.language %>
          </div>
        </li>

        <li>
          <p class="cmsms_details_title"><%= t("activerecord.attributes.short_film_user.director_name") %>:</p>
          <div class="cmsms_details_links">
            <%= short_film_user.director_name %>
          </div>
        </li>
        <li class="cmsms_sharing">
          <div class="fl">
            <div class="fb-like" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            <script type="text/javascript">
              (function (d, s, id) {
                var js = undefined,
                  fjs = d.getElementsByTagName(s)[0];

                if (d.getElementById(id)) {
                  return;
                }

                js = d.createElement(s);
                js.id = id;
                js.src = '//connect.facebook.net/en_US/all.js#xfbml=1';

                fjs.parentNode.insertBefore(js, fjs);
              } (document, 'script', 'facebook-jssdk'));
            </script>
          </div>
        </li>
      </ul>
    </footer>
  </div>
  <div class="cl"></div>
</article>