<% title @short_film_user.title %>

<section id="middle_content">
  <div class="entry">
    <section class="opened-article">
      <article class="project format-video hentry">
        <div class="project_content">
          <div class="resize">
            <div class="cmsms_blog_media">
              <div class="resizable_block">
                <% if @short_film_user.script_embed %>
                  <%= @short_film_user.script_embed.html_safe %>
                <% else %>
                  <%= image_tag @short_film_user.thumbnail(:front_big), :class => "fullwidth" %>
                <% end %>
              </div>
            </div>
          </div>
          <h1 class="entry-title"><%= t("dictionary.synopsis") %></h1>
          <div class="entry-content">
            <%= @short_film_user.synopsis.to_md %>
          </div>
        </div>
        <div class="project_sidebar">
          <footer class="entry-meta">
            <ul class="cmsms_details">
              <li>
                <p class="cmsms_details_title cmsms_like_title">Like it?</p>
                <div class="cmsms_details_links">
                  <a class="cmsmsLike" href="#"><span><span>32</span></span></a>
                </div>
              </li>
              <li>
                <p class="cmsms_details_title"><%= t("activerecord.attributes.short_film_user.created_at") %>:</p>
                <div class="cmsms_details_links">
                  <%= @short_film_user.created_at.to_s(:datehuman) %>
                </div>
              </li>
              <li>
                <p class="cmsms_details_title"><%= t("activerecord.attributes.short_film_user.genre") %>:</p>
                <div class="cmsms_details_links">
                  <%= @short_film_user.genre %>
                </div>
              </li>
              <li>
                <p class="cmsms_details_title"><%= t("activerecord.attributes.short_film_user.length") %>:</p>
                <div class="cmsms_details_links">
                  <%= @short_film_user.length %>
                </div>
              </li>
              <li>
                <p class="cmsms_details_title"><%= t("activerecord.attributes.short_film_user.language") %>:</p>
                <div class="cmsms_details_links">
                  <%= @short_film_user.language %>
                </div>
              </li>
              <li>
                <p class="cmsms_details_title"><%= t("activerecord.attributes.short_film_user.credits_direction") %>:</p>
                <div class="cmsms_details_links">
                  <%= @short_film_user.credits_direction %>
                </div>
              </li>

              <li>
                <p class="cmsms_details_title"><%= t("activerecord.attributes.short_film_user.producer_name") %>:</p>
                <div class="cmsms_details_links">
                  <%= @short_film_user.producer_name %>
                </div>
              </li>
              <li class="cmsms_sharing">
                <div class="fl">
                  <div class="g-plusone" data-size="medium"></div>
                  <script type="text/javascript">
                    (function () {
                      var po = document.createElement('script'),
                        s = document.getElementsByTagName('script')[0];

                      po.type = 'text/javascript';
                      po.async = true;
                      po.src = 'https://apis.google.com/js/plusone.js';

                      s.parentNode.insertBefore(po, s);
                    } )();
                  </script>
                </div>
                <div class="fl">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
                  <script type="text/javascript">
                    !function (d, s, id) {
                      var js = undefined,
                        fjs = d.getElementsByTagName(s)[0];

                      if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = '//platform.twitter.com/widgets.js';

                        fjs.parentNode.insertBefore(js, fjs);
                      }
                    } (document, 'script', 'twitter-wjs');
                  </script>
                </div>
                <div class="fl">
                  <div class="fb-like" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false" data-font="arial"></div>
                  <script type="text/javascript">
                    (function (d, s, id) {
                      var js = undefined,
                        fjs = d.getElementsByTagName(s)[0];

                      if (d.getElementById(id)) {
                        return;
                      }

                      js = d.createElement(s);
                      js.id = id;
                      js.src = '//connect.facebook.net/en_US/all.js#xfbml=1';

                      fjs.parentNode.insertBefore(js, fjs);
                    } (document, 'script', 'facebook-jssdk'));
                  </script>
                </div>
              </li>
            </ul>
          </footer>
        </div>
        <div class="cl"></div>
      </article>
      <div class="divider"></div>

      <aside class="project_navi">
        <span class="fl">
          <% if @short_film_user.previous %>
            <%= link_to t("views.short_films.show.button_short_film_preview"), [:front, @short_film_user.previous] %>
          <% end %>
        </span>
        <span class="fr">
          <% if @short_film_user.next %>
            <%= link_to t("views.short_films.show.button_short_film_next"), [:front, @short_film_user.next] %>
          <% end %>
        </span>
      </aside>

      <div class="cl"></div>
    </section>
  </div>
</section>
